{% extends 'blockchain_auth/header.html' %}
{% block content %}
    <br><br>
{% if eth_address %}
    Welcome, {{ eth_address }}
{% else %}
    It appears you are not logged in. Login <a href="javascript:window.location.href='/blockchain/login';" ><strong>here</strong></a>
{% endif %}
{% endblock %}