{% extends 'blockchain_auth/header.html' %}

{% block content %}
    <br><br>
    <div data-web3auth-display="wallet-unavailable" style="display:none;">
        Please install Metamask.
    </div>
    <div data-web3auth-display="wallet-locked" style="display:none;">
        Your Metamask is locked. Please unlock it to continue.
    </div>

    <div data-web3auth-display="wallet-available" style="display:none;">
        <form action="" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>
    <script type="text/javascript">
        init();
    </script>

{% endblock %}