{% extends 'blockchain_auth/header.html' %}
{% load static%}
{% block content %}
    <script>
        var abi = '{{ abi|safe }}';
        var challenge = '{{ challenge|safe }}';
        var smart_contract_address = '{{ contract_address|safe }}';

        console.log(abi);
        login(abi, challenge, smart_contract_address);
    </script>
    Click <a href="/blockchain" target="blank"><strong>here</strong></a> after you successfully created a transaction.
{% endblock %}
